.wrapper {
    padding: 5;
    margin: auto;
    text-align: center;
    width: 900px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 70px;
    height: 70px;
    background-color: black;
    border: 3px solid white;
}